{% extends 'base.html' %}
{% block content %}

{% if results %}
    {% for report in results %}
        <p>Title: {{report.title}}</p>
        <p>Year: {{report.year}}</p>
        <p>Author: {{report.author}}</p>
        <p>Degree Program: {{report.degreeProgram}}</p>
        <p>Date Range of Reported Data: {{report.date_range_of_reported_data}}</p>
    {% endfor %}
    {% for slo in slos %}
        <b><p>SLO Number: {{slo.number}}</p></b>
        <p>Bloom's Taxonomy level: {{slo.blooms}}</p>
        <p>Date: {{slo.date}}</p>
        <p>Goal Text: {{slo.goalText}}</p>
    {% endfor %}
{% else %}
    No Report found with that ID
{% endif %}
{% endblock %}