{% extends 'base.html' %}

{% block content %}

<h1>Search Page</h1>

<br />
<form action="{% url 'search' %}" method="GET" value="{{request.GET.titleText}}">
  Search <input type="text" name="titleText" value="{{request.GET.titleText}}" placeholder="Search Reports" />
  Degree Program 
  <select name="degreeProgram" id ="degreeProgram">
    <option value = "None" default>None</option>
    <option value = "Test">Test</option>
    <option value = "Test2">Test2</option>
    <option value = "Science">Science</option>
  </select>
  <input type="submit" name="submit" value="Search" />
</form>


{% if submitbutton == 'Search' and request.GET.q != '' %}
{% if results %}
<h1>Results for <b>{{ request.GET.q }}</b></h1>
<br /><br />
<table>
{% for result in results %}
<tr>
<td>{{result.title}}</td>
<td>{{result.uploader}}</td>
</tr>
{% endfor %}
</table>
{% else %}
No search results for this query
{% endif %}
{% endif %}
{% endblock %}